Using Not Deterministic ECDSA

[RFC 9053 section 2.1](https://www.rfc-editor.org/rfc/rfc9053.html#section-2.1) says

> Implementations SHOULD use a deterministic version of ECDSA such as defined in RFC6979

but current t_cose examples don't.

[`examples/t_cose_basic_example_psa.c`](https://github.com/laurencelundblade/t_cose/blob/7d1b6686990e5bf6b84df422f93fb7f547669012/examples/t_cose_basic_example_psa.c#L95)
```
    case T_COSE_ALGORITHM_ES256:
        private_key     = private_key_256;
        private_key_len = sizeof(private_key_256);
        key_type        = PSA_KEY_TYPE_ECC_KEY_PAIR(PSA_ECC_FAMILY_SECP_R1);
        key_alg         = PSA_ALG_ECDSA(PSA_ALG_SHA_256); /* This is not deterministic version */
        break;
```